{erl_opts, [debug_info]}.
{deps, [{mongodb, ".*", {git, "git://github.com/comtihon/mongodb-erlang", {tag, "v3.0.0"}}},
       {cowboy, {git, "https://github.com/RAMAABHI/cowboy.git", {branch,"my-branch"}}},
      {jiffy, {git,"https://github.com/davisp/jiffy.git",{tag, "0.14.11"}}}  
       ]}.

{relx, [{release, { mytest, "0.1.0" },
         [mytest,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts,true},
        {runtime_tools,true},        
        {extended_start_script, true}]
}.


{profiles, [{prod, [{relx, [{dev_mode,true},
                            {include_erts, true},
                            {runtime_tools,true}
                            ]},
                    {erl_opts, [debug_info]}]
            },
            {native, [
        {erl_opts, [{native, o3}, {d, 'NATIVE'}]}
    ]},
            {test, [{deps, [
                          {meck,
                          {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                          ]}
                  ]},
            {native, [
        {erl_opts, [{native, o3}]}
    ]}]
}.
